@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+3:wght@300&family=Source+Sans+Pro:wght@300;900&display=swap');
body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: rgb(219,134,255);
    background: linear-gradient(90deg, rgba(219,134,255,1) 0%, rgba(255,251,135,1) 100%);
    box-sizing: border-box;
    
}
a:active{
    color: transparent;
}
ul {
    list-style: none;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}
button{
    border: none;
    background-color: transparent;
    margin-left: 10px;
    text-align: right;
    cursor: pointer;
}
input{
    border: 0;
    outline: none;
}




.container{
    display: flex;
    /* background-color: #fff;
    filter: blur(50px); */
    
}

.container__left{
    height: 100vh;
    border-radius: 0px 10px 10px 0px ;
    background: rgba(255, 255, 255, 0.103);
    box-shadow: 10px 10px 50px rgba(73, 73, 73, 0.1);
    backdrop-filter: blur(40px);
}
.login-form{
    width: 80%;
    padding: 30px 15px;
    
}
.login-form input{
    height: 20px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 14%) 0px 2px 8px 0px;
    font-size: 1em;
    padding: 13px;
}
.bookmark{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.items a{
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 10px 0px;
}
.items{
    width: 60px;
    height: 60px;
    margin: 10px 0px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    font-size: 1.3em;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.items:hover{
    transform: rotate(360deg);
}
.weather{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 15px;
    border: 2px solid red;
}








.container__right{
    margin: 50px;
    border: 3px solid blue;
}